:root {
    --primary-color: 254, 143, 78;
    --secondary-color: 58, 39, 39;
    --secondary-color-darker: 208, 199, 193;
    --text-color: 246, 245, 244;
    --background-color: 14, 12, 12;
    --accent-color: 115, 117, 125;
    --danger-color: 254, 78, 78;
    --gradient: linear-gradient(
      45deg,
      rgba(var(--primary-color), 1) 0%,
      #c03535 100%
    );
  }
  
  :root {
    font-family: "Inter", sans-serif;
  
    --h1-font-size: 3rem;
    --h1-font-weight: 700;
    --h1-line-height: 3.5rem;
  
    --h2-font-size: 2rem;
    --h2-font-weight: 700;
    --h2-line-height: 2.5rem;
  
    --h3-font-size: 1.5rem;
    --h3-font-weight: 400;
    --h3-line-height: 2rem;
  
    --normal-font-size: 1.125rem;
    --normal-font-weight: 400;
  
    --sub-font-size: 1rem;
    --sub-font-weight: 400;
  
    --button-font-size: 1.125rem;
    --button-font-weight: 400;
  }
  
  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
  }
  
  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
  }
  
  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
  }
  
  p,
  div {
    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
  }
  
  span {
    font-size: var(--sub-font-size);
    font-weight: var(--sub-font-weight);
  }
  
  button {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
  }
  
  body,
  h1,
  form {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgba(var(--background-color), 1);
    color: rgba(var(--text-color), 1);
    height: 97.7vh;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background: var(--gradient);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 0.7rem solid rgba(var(--secondary-color-darker), 1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgba(var(--secondary-color-darker), 1);
  }
  
  form {
    font-size: 16px;
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .label-column {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .input-column {
    flex: 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .label-column-comp {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .input-column-comp {
    flex: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  label {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    color: rgba(var(--secondary-color), 1);
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem;
  }

  input[type="number"]{
    width: 90%;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    color: rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color), 1);
  }
  
  input[type="text"]{
    width: 90%;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    color: rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color), 1);
  }
  
  input[type="text"]:focus {
    color: rgba(var(--secondary-color), 1);
    outline: 1px solid rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color-darker), 1);
  }
  
  .select{
    width: 93%;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    color: rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color), 1);
  }
  
  .select:focus {
    color: rgba(var(--secondary-color), 1);
    outline: 1px solid rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color-darker), 1);
  }


  input[type="submit"] {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(var(--secondary-color-darker), 1);
    color: rgba(var(--secondary-color), 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: rgba(var(--danger-color), 1);
    scale: 1.02;
    text-decoration: underline;
    border: 1px solid rgba(var(--background-color), 1);
  }
  select[type="text"] {
    width: 90%;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    color: rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color), 1);
  }
  
  select[type="text"]:focus {
    color: rgba(var(--secondary-color), 1);
    outline: 1px solid rgba(var(--secondary-color-darker), 1);
    background-color: rgba(var(--secondary-color-darker), 1);
  }
  
  select[type="submit"] {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(var(--secondary-color-darker), 1);
    color: rgba(var(--secondary-color), 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  select[type="submit"]:hover {
    background-color: rgba(var(--danger-color), 1);
    scale: 1.02;
    text-decoration: underline;
    border: 1px solid rgba(var(--background-color), 1);
  }